.header{
    background-image: url("images/twit-logo.jpg");
    background-repeat: repeat-x;
    height: 200px;
}

/*******************End of header  ***********************/

.input-left{
    padding: 10px;

}

/******************End of Col-md-4 div*******************/


.form-header{
    text-align: center;
    text-size: 50px;
    background-color:aliceblue;
    border: solid;
    border-color: #b6b6b6;
}


.twit-input-form{
    padding: 10px;
    background-color:aliceblue;
    border: solid;
    border-color: #b6b6b6;
}

.filter-button{
    margin-top: 25px;
}

/*****************End of form ****************************/

.drop-down-list{
    max-height: 225px;
    overflow-y: scroll;
}

.user-list-item{
    background-color: aliceblue;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-color: #b6b6b6;
}

.user-list-item:hover{
    background-color: #00aced;
}

.user-image-list-item{
    display: inline-block;
}

.screen-name-list-item{
    margin-right: 5px;
    font-weight: 600;
    color: black;
    display: inline-block;
}

.spacer{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 900;
}

/********************* End of user drop down ********************/

.carousel-directive-wrapper{
    padding: 5px;
    background-color: aliceblue;
}

.user-wrapper-image{
    display: inline-block;
}

.user-wrapper-text{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 60%;
}

.user-wrapper-description{
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
    font-style: italic;
}

.slide-header{
    color: #fff;
    padding-left: 10px;
}

.slide-body{
    background-color: aliceblue;
    border: solid;
    border-color: #b6b6b6;
}

.slide-body-text{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #030201;
}

.slide-footer{
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

/**********************End of Carousel wrapper*****************/

.image-content-wrapper{
    margin-top: 10px;
}

.image-collection-header {
    background-color: #00aced;
    height: 30px;
}

.image-in-collection{
    float: left;
}

.image-in-collection{
    max-width: 370px;
}

/****************** End of image wrapper*****************/

@media screen and (max-width: 375px) {
    .arrow-right, .arrow-left{
        display: none;
    }
}

